DOMAIN=local.server
PUID=1000
PGID=1000
TZ=Europe/Lisbon

CONFIG_ROOT=./config
DATA_ROOT=./data
DOWNLOADS_ROOT=./downloads
MEDIA_ROOT=./media
PHOTOS_ROOT=./photos
ROMS_LIBRARY_ROOT=./data/roms/library/roms
ROMS_BIOS_ROOT=./data/roms/library/bios

UPLOAD_LOCATION=./photos/library
DB_DATA_LOCATION=./data/immich/postgres
DB_USERNAME=postgres
DB_PASSWORD=change-me
DB_DATABASE_NAME=immich
IMMICH_VERSION=release

ROMM_DB_NAME=romm
ROMM_DB_USER=romm
ROMM_DB_PASSWORD=change-me
ROMM_DB_ROOT_PASSWORD=change-me
ROMM_AUTH_SECRET_KEY=replace-with-a-random-secret

GHOSTFOLIO_POSTGRES_DB=ghostfolio
GHOSTFOLIO_POSTGRES_USER=ghostfolio
GHOSTFOLIO_POSTGRES_PASSWORD=replace-with-a-random-secret
GHOSTFOLIO_REDIS_PASSWORD=replace-with-a-random-secret
GHOSTFOLIO_ACCESS_TOKEN_SALT=replace-with-a-random-secret
GHOSTFOLIO_JWT_SECRET_KEY=replace-with-a-random-secret
GHOSTFOLIO_ROOT_URL=https://investments.local.server


TRAEFIK_AUTH=admin:$$apr1$$replace-this$$replace-this-too
